.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25svh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  @include sectionBg("nat-4-small", center);

  transform: skewY(-$skewY-deg);
  margin-top: -12rem;

  & > * {
    transform: skewY($skewY-deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  //^ high resolution but screen bigger than phone every resolution and bigger than big desktop
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 112.5em) {
    @include sectionBg("nat-4", top);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem;
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  .book {
    background:
      linear-gradient(105deg, rgba($color-white, 0.9) 50%, transparent 50%),
      url("/img/nat-10-small.jpg") top/cover;
    background-repeat: no-repeat;
    border-radius: $default-radius;
    @include boxShadow($color-black, 0.2);

    @include respond(tab-land) {
      background:
        linear-gradient(105deg, rgba($color-white, 0.9) 65%, transparent 65%),
        url("/img/nat-10.jpg") top/cover;
    }

    @include respond(tab-port) {
      background:
        linear-gradient(90deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%),
        url("/img/nat-10.jpg") top/cover;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 112.5em) {
      background:
        linear-gradient(105deg, rgba($color-white, 0.9) 50%, transparent 50%),
        url("/img/nat-10.jpg") top/cover;
    }

    &__form {
      width: 50%;
      padding: 6rem;

      @include respond(tab-land) {
        width: 65%;
      }
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
