.header {
  height: 100svh;
  @include sectionBg("hero-small", top); //^ if one value the second is automatically center
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75svh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75svh, 0 100%);

  //^ high resolution but screen bigger than phone every resolution and bigger than big desktop
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 112.5em) {
    @include sectionBg("hero", top);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85svh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85svh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; //^ it's enought one size and the other will be set automatically
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
