*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //^ permette di ridimensionare il font-size del root senza impedire allo user di cambiare il font size con le impostazioni del browser.
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
