@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin sectionBg($image, $position: '') {
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/' + $image + '.jpg') $position / cover;
}

@mixin textGradient {
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}
